{% extends "main.html" %}
{% block content %}
{% load static %}

<h1 class="text-center font-color-blue-pagopa">CONFRONTO SIMULAZIONI</h1>

<br><br>

<!-- PRIMO GRAFICO -->
<div class="row text-center">
    <div class="col" style="margin: 0 auto;">
        <div id="fig_first_for_visualizzation_A"></div>
    </div>
    <div class="col" style="margin: 0 auto;">
        <div id="fig_first_for_visualizzation_B"></div>
    </div>
</div>

<!-- SECONDO GRAFICO -->
<div class="row text-center">
    <div class="col" style="margin: 0 auto;">
        <div id="fig_second_for_visualizzation_A"></div>
    </div>
    <div class="col" style="margin: 0 auto;">
        <div id="fig_second_for_visualizzation_B"></div>
    </div>
</div>

<!-- TERZO GRAFICO -->
<div class="row text-center">
    <div class="col" style="margin: 0 auto;">
        <div id="fig_third_for_visualizzation_A"></div>
    </div>
    <div class="col" style="margin: 0 auto;">
        <div id="fig_third_for_visualizzation_B"></div>
    </div>
</div>


{% endblock content %}


<!-- CODICE JAVASCRIPT -->
{% block scripts %}

<!-- PRIMO GRAFICO -->
<script>
    const rawData_fig_first_for_visualizzation_A = '{{ fig_first_for_visualizzation_A|escapejs }}';
    const plotData_fig_first_for_visualizzation_A = JSON.parse(rawData_fig_first_for_visualizzation_A);
    Plotly.newPlot('fig_first_for_visualizzation_A', plotData_fig_first_for_visualizzation_A.data, plotData_fig_first_for_visualizzation_A.layout); 
</script>
<script>
    const rawData_fig_first_for_visualizzation_B = '{{ fig_first_for_visualizzation_B|escapejs }}';
    const plotData_fig_first_for_visualizzation_B = JSON.parse(rawData_fig_first_for_visualizzation_B);
    Plotly.newPlot('fig_first_for_visualizzation_B', plotData_fig_first_for_visualizzation_B.data, plotData_fig_first_for_visualizzation_B.layout); 
</script>

<!-- SECONDO GRAFICO -->
<script>
    const rawData_fig_second_for_visualizzation_A = '{{ fig_second_for_visualizzation_A|escapejs }}';
    const plotData_fig_second_for_visualizzation_A = JSON.parse(rawData_fig_second_for_visualizzation_A);
    Plotly.newPlot('fig_second_for_visualizzation_A', plotData_fig_second_for_visualizzation_A.data, plotData_fig_second_for_visualizzation_A.layout);
</script>
<script>
    const rawData_fig_second_for_visualizzation_B = '{{ fig_second_for_visualizzation_B|escapejs }}';
    const plotData_fig_second_for_visualizzation_B = JSON.parse(rawData_fig_second_for_visualizzation_B);
    Plotly.newPlot('fig_second_for_visualizzation_B', plotData_fig_second_for_visualizzation_B.data, plotData_fig_second_for_visualizzation_B.layout);
</script>

<!-- TERZO GRAFICO -->
<script>
    const rawData_fig_third_for_visualizzation_A = '{{ fig_third_for_visualizzation_A|escapejs }}';
    const plotData_fig_third_for_visualizzation_A = JSON.parse(rawData_fig_third_for_visualizzation_A);
    Plotly.newPlot('fig_third_for_visualizzation_A', plotData_fig_third_for_visualizzation_A.data, plotData_fig_third_for_visualizzation_A.layout);
</script>
<script>
    const rawData_fig_third_for_visualizzation_B = '{{ fig_third_for_visualizzation_B|escapejs }}';
    const plotData_fig_third_for_visualizzation_B = JSON.parse(rawData_fig_third_for_visualizzation_B);
    Plotly.newPlot('fig_third_for_visualizzation_B', plotData_fig_third_for_visualizzation_B.data, plotData_fig_third_for_visualizzation_B.layout);
</script>

{% endblock %}