{% extends "main.html" %}
{% block content %}
{% load static %}

<br><br>

<!-- Position bar bootstrap -->
<div class="position-relative mb-5">
    <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
        <div id="progressBar" class="progress-bar" style="width: 0%"></div>
    </div>
    <button type="button" id="stepBtn1" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem; cursor: default;">1</button>
    <button type="button" id="stepBtn2" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem; cursor: default;">2</button>
    <button type="button" id="stepBtn3" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem; cursor: default;">3</button>
</div>


<!-- Form -->
<form id="multiStepForm" action="{% url 'salva_simulazione' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- STEP 1 - Parametri di scheduling -->
    <div class="step" id="step1">
        <h4 class="text-start">Parametri di scheduling</h4>
        <br>
        <div class="card p-4">
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <label class="form-label">Nome simulazione</label>
                </div>
                <div class="col-auto w-50">
                    <input type="text" class="form-control" autocomplete="off" name="nome_simulazione" value="{{simulazione.NOME}}" required>
                </div>
            </div>
            <br>
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <label class="form-label">Descrizione</label>
                </div>
                <div class="col-auto w-50">
                    <textarea class="form-control" autocomplete="off" name="descrizione_simulazione">{{simulazione.DESCRIZIONE|default_if_none:''}}</textarea>
                </div>
            </div>
            <br>
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <label class="form-label">Data-ora pianificazione: &nbsp;&nbsp;</label>
                </div>
                <div class="col-auto">
                    <!-- Radio Schedule -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="schedule" required {% if simulazione.TRIGGER == 'Schedule' %}checked{% endif %}>
                        <label class="form-check-label" for="inlineRadio1">Schedule</label>
                    </div>
                </div>
                <div class="col-auto">
                    <!-- Radio Now -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="now" {% if simulazione.TRIGGER == 'Now' %}checked{% endif %}>
                        <label class="form-check-label" for="inlineRadio2">Now</label>
                    </div>
                </div>
            </div>

            <!-- Campo datetime (inizialmente nascosto) -->
            <div class="row mb-3 align-items-center d-none" id="datetimeField">
                <div class="col-auto">
                    <label class="form-label">Seleziona data-ora</label>
                </div>
                <div class="col-auto">
                    <input type="datetime-local" class="form-control" autocomplete="off" style="width:auto;" id="timeSchedule" name="schedule_datetime">
                </div>
            </div>
            <!-- bottoni salva-avanti -->
            <div class="row">
                <div class="col d-grid gap-2 mx-auto">
                </div>
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" class="disabled" id="salva_bozza" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>Salva come bozza <i class="fa-solid fa-file-signature"></i></button>
                </div>
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="nextStep()">Avanti <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- STEP 2 - Postalizzazioni di mock aggiuntive -->
    <div class="step d-none" id="step2">
        <h5 class="text-center">Postalizzazioni di mock aggiuntive</h5>
        <br>
        <div class="card p-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="commesse_default" checked disabled>
                <label class="form-check-label" for="commesse_default">Utilizza le commesse di default</label>
            </div>
            <div class="row text-center opacity-50">
                <div class="col-8 mx-auto"></div>
                <div class="col-2 mx-auto">
                    <p style="margin-bottom: 0;"><i class="fa-solid fa-file-csv fa-2x" title="Download csv"></i></p>
                    <label>Download capacità di default per input</label>
                </div>
                <div class="col-2 mx-auto">
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label"><b>Carica capacità da file</b></label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" accept=".csv" disabled>
                    </div>
                </div>
            </div>

            <br><br><br>

            <!-- bottoni indietro-salva-avanti -->
            <div class="row text-center">
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="prevStep()"><i class="fa-solid fa-arrow-left"></i> Indietro</button>
                </div>
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" id="salva_bozza" data-bs-toggle="modal" data-bs-target="#exampleModal">Salva come bozza <i class="fa-solid fa-file-signature"></i></button>
                </div>
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="nextStep()">Avanti <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- STEP 3 - Capacità recapitisti -->
    <div class="step d-none" id="step3">
        <h5 class="text-end">Capacità recapitisti</h5>
        <br>
        <div class="card p-4">

            <br>

            <div class="row text-center">
                <div class="col-4 mx-auto">
                    <label for="tipo_capacita_da_modificare"><b>Tipo di capacità da modificare</b></label>
                    <select class="form-select" aria-label="Default select example" id="tipo_capacita_da_modificare" onchange="select_tipo_capacita_da_modificare()">
                        <option selected disabled class="text-center" value="">--- Seleziona il tipo di capacità da modificare ---</option>
                        <option value="Produzione">Produzione</option>
                        <option value="Solo BAU">Solo BAU</option>
                        <option value="Solo picco">Solo picco</option>
                        <option value="BAU e picco combinate">BAU e picco combinate</option>
                    </select>
                </div>
                <div class="col-4 mx-auto">
                    <label for="mese_da_simulare"><b>Mese da simulare</b></label>
                    <select class="form-select" aria-label="Default select example" id="mese_da_simulare">
                        <option selected disabled class="text-center" value="">--- Seleziona un mese da simulare ---</option>
                        {% for singolo_mese in lista_mesi_univoci %}
                            <option value="{{singolo_mese.0}}">{{singolo_mese.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 mx-auto">
                    <p style="margin-bottom: 0;"><i class="fa-solid fa-file-csv fa-2x" style="cursor: pointer;" title="Download csv"></i></p>
                    <label>Download capacità di default per input</label>
                </div>
                <div class="col-2 mx-auto">
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label"><b>Carica capacità da file</b></label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" accept=".csv">
                    </div>
                </div>
            </div>

            <br>

            <!-- Capacità recuperate da db -->
            <div class="text-center" id="spinner"></div>
            <span id='capacita_recuperate_da_db' class='capacita_recuperate_da_db' data-url={% url 'ajax_get_capacita_from_mese' %}></span>

            <br><br><br><br>
            <!-- Campo nascosto per contenere il JSON -->
            <input type="hidden" name="capacita_json" id="capacita_json">

            <!-- bottoni indietro-salva-avvia -->
            <div class="row text-center">
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="prevStep()"><i class="fa-solid fa-arrow-left"></i> Indietro</button>
                </div>
                <div class="col d-grid gap-2 mx-auto">
                    <button type="button" class="btn btn-primary" id="salva_bozza" data-bs-toggle="modal" data-bs-target="#exampleModal">Salva come bozza <i class="fa-solid fa-file-signature"></i></button>
                </div>
                <div class="col d-grid gap-2 mx-auto">
                    <button type="submit" class="btn btn-primary" name="avvia_scheduling" data-bs-toggle="modal" data-bs-target="#exampleModal2" onclick="load_text_avviso_modal_avvia_scheduling()">Avvia scheduling 📅</button>
                    <!--MODAL PER IL BOTTONE AVVIA SCHEDULING-->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p id="avviso_modal_avvia_scheduling"></p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
                                <input class="btn btn-primary" onclick="form_submit_scheduling()" type="submit" name="avvia_scheduling" value="Avvia scheduling 📅" />
                                </div>
                                <script type="text/javascript">
                                function form_submit_scheduling() {
                                    multiStepForm = document.getElementById("multiStepForm");
                                    var $input = $('<input>').attr({type:'hidden',name:'stato',value:'Schedulata-Inlavorazione'}).appendTo('#multiStepForm');
                                    var $input = $('<input>').attr({type:'hidden',name:'id_simulazione',value:'{{simulazione.ID}}'}).appendTo('#multiStepForm');
                                    multiStepForm.submit();
                                }    
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--MODAL PER IL BOTTONE SALVA COME BOZZA-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Sei sicuro di voler salvare come bozza?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
            <input class="btn btn-primary" onclick="form_submit_bozza()" type="submit" name="salva_bozza" value="Salva bozza" />
            </div>
            <script type="text/javascript">
            function form_submit_bozza() {
                multiStepForm = document.getElementById("multiStepForm");
                var $input = $('<input>').attr({type:'hidden',name:'stato',value:'Bozza'}).appendTo('#multiStepForm');
                var $input = $('<input>').attr({type:'hidden',name:'id_simulazione',value:'{{simulazione.ID}}'}).appendTo('#multiStepForm');

                let data = {};

                $('.accordion').each(function() {
                    let gruppo = $(this).data('group');
                    data[gruppo] = [];

                    $(this).find('tbody tr').each(function() {
                        let row = $(this);
                        let item = {
                            regione: row.find('td').eq(0).text().trim(),
                            provincia: row.find('td').eq(1).text().trim(),
                            postalizzazioni_mensili: row.find('td').eq(2).text().trim(),
                            inizioPeriodoValidita: row.find('.inizioPeriodoValidita').val(),
                            finePeriodoValidita: row.find('.finePeriodoValidita').val(),
                            capacita: row.find('.input_capacita').val(),
                        };
                        data[gruppo].push(item);
                    });
                });

                // riempiamo un input nascosto inserendo il json
                $('#capacita_json').val(JSON.stringify(data));

                // submit form
                multiStepForm.submit();
            }    
            </script>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<!-- GESTIONE 3 STEP -->
<script>
    let currentStep = 1;
    const button_salva_bozza = document.getElementById("salva_bozza");

    function showStep(step) {
        // nasconde tutti
        document.querySelectorAll(".step").forEach(s => s.classList.add("d-none"));
        // mostra quello richiesto
        document.getElementById("step" + step).classList.remove("d-none");

        // aggiorna progress bar
        const progressBar = document.getElementById("progressBar");
        progressBar.style.width = ((step - 1) / 2) * 100 + "%";

        // aggiorna pulsanti step
        for (let i = 1; i <= 3; i++) {
            const btn = document.getElementById("stepBtn" + i);
            if (i < step) {
                btn.className = "position-absolute top-0 " + (i === 2 ? "start-50" : (i === 3 ? "start-100" : "start-0")) + " translate-middle btn btn-sm btn-success rounded-pill";
            } else if (i === step) {
                btn.className = "position-absolute top-0 " + (i === 2 ? "start-50" : (i === 3 ? "start-100" : "start-0")) + " translate-middle btn btn-sm btn-primary rounded-pill";
            } else {
                btn.className = "position-absolute top-0 " + (i === 2 ? "start-50" : (i === 3 ? "start-100" : "start-0")) + " translate-middle btn btn-sm btn-secondary rounded-pill";
            }
            btn.style.width = "2rem";
            btn.style.height = "2rem";
        }

        currentStep = step;
    }

    function nextStep() {
        // controlla validità dei campi required mostrando il messaggio di default del browser
        const currentStepEl = document.getElementById("step" + currentStep);
        const requiredFields = currentStepEl.querySelectorAll("[required]");
        let isValid = true;
        let firstInvalid = null;
        requiredFields.forEach(field => {
            if (!field.checkValidity()) {
            isValid = false;
            if (!firstInvalid) firstInvalid = field;
            }
        });
        if (!isValid) {
            firstInvalid.reportValidity();
            return;
        }
        // altrimenti vai avanti
        if (currentStep < 3) {
            showStep(currentStep + 1);
        }
    }

    function prevStep() {
        if (currentStep > 1) {
            showStep(currentStep - 1);
        }
    }

    // mostra step iniziale
    showStep(1);

    // gestione invio
    document.getElementById("multiStepForm").addEventListener("submit", function(e) {
        e.preventDefault();
    });


    function checkRequiredFields() {
        const nomeField = document.querySelector('input[type="text"][required]');    
        // controlliamo se il campo nome è stato inserito
        let isValid = nomeField.value.trim() !== '';
        return isValid;
    }

    function updateSaveButton() {
        button_salva_bozza.disabled = !checkRequiredFields();
    }

    // event listener
    document.querySelector('input[type="text"][required]').addEventListener('input', updateSaveButton);

    // Controllo iniziale
    updateSaveButton();
</script>


<!-- mostra/nascondi datetime picker quando viene selezionato/deselezionato il radiobutton "Schedule" -->
<script>
    const radioSchedule = document.getElementById("inlineRadio1");
    const radioNow = document.getElementById("inlineRadio2");
    const datetimeField = document.getElementById("datetimeField");
    const timeSchedule = document.getElementById("timeSchedule");

    document.addEventListener("DOMContentLoaded", function () {
        if (radioSchedule.checked) {
            datetimeField.classList.remove("d-none"); // mostra
            timeSchedule.setAttribute('required','required');
        } else {
            datetimeField.classList.add("d-none"); // nasconde
            timeSchedule.removeAttribute('required');
        }
    });

    document.querySelectorAll('input[name="inlineRadioOptions"]').forEach(radio => {
        radio.addEventListener("change", () => {
            if (radioSchedule.checked) {
                datetimeField.classList.remove("d-none"); // mostra
                timeSchedule.setAttribute('required','required');
            } else {
                datetimeField.classList.add("d-none"); // nasconde
                timeSchedule.removeAttribute('required');
            }
        });
    });
</script>

<!-- cattura il valore della select select_tipo_capacita_da_modificare e lo inserisce come specifica nella colonna 'Capacità settimanale' -->
<script>
    function select_tipo_capacita_da_modificare() {
        d = document.getElementById("tipo_capacita_da_modificare").value;
        document.querySelectorAll(".th_capacita_settimanale").forEach(el => {
            el.innerHTML = '<br>(' + d + ')';
        });
    }
</script>


<!-- icona alert -->
<script>
   function validateRows() {
        const rows = document.querySelectorAll('tbody tr');
        
        rows.forEach(row => {
            const cells = row.cells;
            if (cells.length < 8) return;
            
            const thirdField = parseInt(cells[2].textContent) || 0;
            const sixthFieldInput = cells[5].querySelector('input');
            const sixthField = sixthFieldInput ? parseInt(sixthFieldInput.value) || 0 : 0;
            
            cells[6].innerHTML = '';
            
            if (thirdField < sixthField) {
                cells[6].innerHTML = '<i class="fa-solid fa-triangle-exclamation fa-lg" style="color: red;" title="Numero di postalizzazioni maggiore della capacità"></i>';
            }
        });
    }
</script>

<!-- flatpickr datetimepicker STEP 1 -->
 <script>
    flatpickr("#timeSchedule", {
        // lunedì primo giorno della settimana
        locale: {
            firstDayOfWeek: 1
        },
        enableTime: true,
        dateFormat: "d/m/Y H:i",
        time_24hr: true,
        minuteIncrement: 30,
        minDate: new Date(),
        allowInput:true,
        defaultDate: '{{simulazione.TIMESTAMP_ESECUZIONE|date:"d/m/Y H:i"}}' // inizializzazione data
    });
</script>

<!-- flatpickr per vincoli datepicker STEP 3: l'inizializzazione dei calendari datepicker (flatpickr) dev'essere fatta solo dopo aver caricato l'input con il relativo id -->
 <script>
    function inizializzazione_datepicker_flatpickr(){
        flatpickr("#inizioPeriodoValidita", {
            // lunedì primo giorno della settimana
            locale: {
                firstDayOfWeek: 1
            },
            disable: [
                function(date) {
                    // abilitiamo solo i lunedì (1)
                    return !(date.getDay() === 1);
                }
            ],
        });

        flatpickr("#finePeriodoValidita", {
            // lunedì primo giorno della settimana
            locale: {
                firstDayOfWeek: 1
            },
            disable: [
                function(date) {
                    // abilitiamo solo le domeniche (0)
                    return !(date.getDay() === 0);
                }
            ],
        });
    }
</script>

<!-- jQuery/Ajax per accordion Capacità -->
<script>
    var select_mese_da_simulare = document.querySelector('#mese_da_simulare');
    select_mese_da_simulare.addEventListener('change',function(){
        var mese_da_simulare_selezionato = select_mese_da_simulare.value;
        var content = document.getElementById('capacita_recuperate_da_db');
        // puliamo lo spazio dove andremo ad iniettare il codice html
        content.innerHTML='';
        var spinner = document.getElementById('spinner');
        spinner.innerHTML = '<div class="spinner-border text-primary" role="status"></div>';
        var content_capacita = '';
        $.ajax({
            url: $('.capacita_recuperate_da_db').data('url'),
            type: 'GET',
            data: {'mese_da_simulare_selezionato':mese_da_simulare_selezionato},
            success: function(resp){
                var counter = 0;
                for (var recapitista in resp.context){
                    content_capacita += `
                        <div class="accordion" data-group="${recapitista}">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#${counter}" aria-expanded="true" aria-controls="${counter}">
                                        <b>RECAPITISTA: ${recapitista}</b>
                                    </button>
                                </h2>
                                <div id="${counter}" class="accordion-collapse collapse">
                                    <div class="accordion-body table-responsive">
                                        <table class="table table-hover table-capacita">
                                            <thead class="text-center">
                                                <tr>
                                                <th scope="col">Regione</th>
                                                <th scope="col">Provincia</th>
                                                <th scope="col">Numero di post. settimanali</th>
                                                <th scope="col">Inizio periodo di validità</th>
                                                <th scope="col">Fine periodo di validità</th>
                                                <th scope="col" class="align-bottom">Capacità settimanale<span class="th_capacita_settimanale"></span></th>
                                                <th scope="col"></th> <!-- colonna per alert -->
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider text-center">
                            `;
                    resp.context[recapitista].forEach(function(singola_capacity) {
                        // calcoliamo finePeriodoValidita: recuperiamo mese e anno da dare in pasto alla getTargetSunday
                        delivery_date_formattata = new Date(singola_capacity.delivery_date);
                        delivery_date_formattata = new Date(delivery_date_formattata.setMonth(delivery_date_formattata.getMonth() + 1)); // aggiungendo 1 mese perché la getMonth() parte a contare da 0 i mesi
                        mese_corrente = delivery_date_formattata.getMonth();
                        anno_corrente = delivery_date_formattata.getFullYear();
                        finePeriodoValidita = getTargetSunday(anno_corrente, mese_corrente);
                        content_capacita += `
                            <tr>
                                <td>${singola_capacity.regione}</td>
                                <td>${singola_capacity.provincia}</td>
                                <td>${singola_capacity.post_weekly_estimate} (mensili: ${singola_capacity.post_original_estimate})</td>
                                <td><input type="date" class="form-control text-center inizioPeriodoValidita" id="inizioPeriodoValidita" value="${singola_capacity.delivery_date}" onkeydown="return (event.keyCode!=13);"></td>
                                <td><input type="date" class="form-control text-center finePeriodoValidita" id="finePeriodoValidita" value="${finePeriodoValidita.toISOString().split("T")[0]}" onkeydown="return (event.keyCode!=13);"></td>
                                <td class="form-floating"><input class="form-control text-center input_capacita" autocomplete="off" type="number" step="1" min="0" id="input_capacita" value="${singola_capacity.capacity}" onkeydown="return (event.keyCode!=13);"><label for="input_capacita">Capacità reale: ${singola_capacity.capacity}</label></td>
                                <td></td>
                            </tr>
                        `;
                    });
                    
                    content_capacita += `
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    `;
                    counter++;  
                }
                content.innerHTML = content_capacita;
                // start funzione javascript per gestione tabelle dentro ogni accordion (STEP 3)
                gestione_tabelle_step3();
                inizializzazione_datepicker_flatpickr();
            },
            error: function(resp){
                spinner.innerHTML='';
            },
            complete: function(resp){
                spinner.innerHTML='';
            }
        });
	});
</script>

<!-- funzione per recuperare la seconda domenica del mese tranne se l'ultimo giorno del mese precedente è domenica, allora sarà la prima domenica del mese -->
<script>
    function getTargetSunday(anno, mese) {
        let primoGiorno = new Date(anno, mese, 1); // ricordiamo che il conteggio del mese parte da 0
        // capiamo in che giorno capita il primo del mese (0 = Domenica, 1 = Lunedì, ...)
        let giornoPrimo = primoGiorno.getDay()+1;
        // se il primo giorno è Lunedì (1) prendiamo la prima domenica (che sarà il 7 ovviamente)
        if (giornoPrimo === 1) {
            return new Date(anno, mese, 7);
        } else {
            // calcoliamo la seconda domenica
            let giorniAllaPrimaDomenica = (7 - giornoPrimo) % 7; // troviamo quanti giorni mancano alla prima domenica
            let primaDomenica = 1 + giorniAllaPrimaDomenica;
            let secondaDomenica = primaDomenica + 7; // aggiungiamo una settimana alla prima domenica
            return new Date(anno, mese, secondaDomenica);
        }
    }
</script>

<!-- Caricamento testo per modal che appare al click sul bottone "Avvia scheduling" -->
<script>
    function load_text_avviso_modal_avvia_scheduling() {
        tipo_scheduling = document.getElementById('avviso_modal_avvia_scheduling');
        const radioSchedule = document.getElementById("inlineRadio1");
        const timeSchedule = document.getElementById("timeSchedule");
        if (radioSchedule.checked) {
            tipo_scheduling.innerHTML = 'Sei sicuro di voler avviare lo scheduling con trigger "Schedule" ('+timeSchedule.value+')?';
        }
        else{
            tipo_scheduling.innerHTML = 'Sei sicuro di voler avviare lo scheduling con trigger "Now"?';
        }
    }
</script>

{% endblock %}