{% extends "main.html" %}
{% block content %}
{% load static %}

<br><br>


<form id="form_vista_ente_cred" method="POST" action="{% url 'ente_fornitore' %}">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-5 mb-5">
                <label for="select_vista" class="form-label"><b>Seleziona la vista:</b></label>
                    <select required class="form-select mt-2" id="select_vista" name="select_vista" >
                        <option selected disabled class="text-center" value="">--- Seleziona una vista ---</option>
                        <option value="PER ENTE"{% if vista_selection == "PER ENTE" %} selected{% endif %}>PER ENTE</option>
                        <option value="PER FORNITORE" {% if vista_selection == "PER FORNITORE" %} selected{% endif %}>PER FORNITORE</option>
                    </select>
            </div>
            <div class="col-5 mb-5">
                <label class="form-label"><b>Mese di riferimento:</b></label>
                    <select required class="form-select mt-2" id="select_data" name="select_data" >
                        <option selected disabled class="text-center" value="" >--- Seleziona un mese  ---</option>
                        {% for singolo_mese in lista_mesi %}
                            <option value="{{singolo_mese.0}}" {% if mesi_selection == singolo_mese.0 %}selected{% endif %}>{{singolo_mese.1}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="col-2 mt-4">
                <button type="submit" class="btn btn-primary mt-3" id="button_carica" >Carica dati</button>
            </div>
        </div>
    </div>
</form>

<!-- DATATABLES: tabella_ente_ -->

{% if table_flag == "1" %}
    {% if vista_selection == "PER ENTE" %}
        <div class="container mt-5">
            <table class="table table-hover table-striped table-bordered mt-3" id="tabella_ente" style="padding-top:20px;  text-align:center;">
                <thead>
                    <tr>
                        <th >Delivery Date</th>
                        <th >Ente ID</th>
                        <th >Provincia</th>
                        <th >Prodotto</th>
                        <th >Num. Postalizzazioni</th>
                    </tr>
                </thead>
                <tbody >
                    {% if table %}
                        {% for rows_sender in table %}
                            <tr>
                                <td >{{ rows_sender.DELIVERY_DATE|date:"Y-m" }}</td>
                                <td >{{ rows_sender.ID }}</td>
                                <td >{{rows_sender.PROVINCE}}</td>
                                <td >{{rows_sender.PRODUCT_TYPE}}</td>
                                <td >{{rows_sender.MONTHLY_ESTIMATE}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="5">La tabella non contiene dati.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% elif vista_selection == "PER FORNITORE" %}
    <!-- DATATABLES: tabella_fornitore -->
            <div class="container mt-5">
            <table class="table table-hover table-striped table-bordered mt-3" id="tabella_fornitore" style="padding-top:20px;  text-align:center;">
                <thead>
                    <tr>
                        <th >Delivery Date</th>
                        <th >UNIFIED_DELIVERY_DRIVER</th>
                        <th >GEOKEY</th>
                        <th >PRODUCT_AR</th>
                        <th >PRODUCT_890</th>
                        <th >MONTHLY_ESTIMATE</th>
                    </tr>
                </thead>
                <tbody >
                    {% if table %}
                        {% for rows_sender in table %}
                            <tr>
                                <td >{{ rows_sender.DELIVERY_DATE}}</td>
                                <td >{{ rows_sender.UNIFIED_DELIVERY_DRIVER }}</td>
                                <td >{{rows_sender.GEOKEY}}</td>
                                <td >{{rows_sender.PRODUCT_AR}}</td>
                                <td >{{rows_sender.PRODUCT_890}}</td>
                                <td >{{rows_sender.MONTHLY_ESTIMATE}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="6">La tabella non contiene dati.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}
{%endblock %}

{% block scripts %}


<!--TABELLA VIEW ENTE-->
<script>
    // TABELLA VIEW ENTE
    var fullDate = new Date();
	var currentDate = fullDate.getFullYear() + "_" + (fullDate.getMonth() + 1).toString().padStart(2, "0") + "_" + fullDate.getDate().toString().padStart(2, "0");
    var selectedData = document.getElementById("select_data").value.toLowerCase();
    var selectedVista = document.getElementById("select_vista").value.toLowerCase();
    new DataTable("#tabella_ente", {
    
    layout:{
        bottom2End: {
            buttons: [                    {
                        extend: 'copy',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3,4]
                        }
                    },
					{
						extend: 'csv',
						text: 'CSV',
						fieldSeparator: ',',
						className: 'btn btn-sm btn-primary',
						filename: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        exportOptions: {
                            columns: [0,1,2,3,4]
                        }
					},
                    {
                        extend: 'excel',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
						filename: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        exportOptions: {
                            columns: [0,1,2,3,4]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
						filename: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        exportOptions: {
                            columns: [0,1,2,3,4]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3,4]
                        }
                    }
				],
				
        }
    },
    ordering: {
        indicators: false,
        handler: false
    },
    // ordinamento decrescente sulla prima colonna
    order: [[0, 'desc']],
    pageLength : 5,
    lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, 'All']],
    responsive: true,
    columnDefs:[
        {
            // colonna Timestamp esecuzione
            targets: 0,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
            
        {
            // colonna ENTE
            targets: 1,
            columnControl: ['order', ['search']],
            type:'int',
            "className": "dt-center",
            "defaultContent": " "
        },
        {
            // colonna PROVINCIA
            targets: 2,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " ",
            "defaultContent": " "
        },
        {
            // colonna PRODOTTO
            targets: 3,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
        {
            // colonna POSTALIZZAZIONI
            targets: 4,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
    ],
    bAutoWidth: false,

    });
</script>

<script>
    
    // TABELLA VIEW FORNITORE
    
    var fullDate = new Date();
	var currentDate = fullDate.getFullYear() + "_" + (fullDate.getMonth() + 1).toString().padStart(2, "0") + "_" + fullDate.getDate().toString().padStart(2, "0");
    var selectedData = document.getElementById("select_data").value.toLowerCase();
    var selectedVista = document.getElementById("select_vista").value.toLowerCase();
    new DataTable("#tabella_fornitore", {
    // rimuoviamo il vecchio ordinamento per inserire il nuovo con columnControl 
    layout:{
        bottom2End: {
            buttons: [                    {
                        extend: 'copy',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3,4,5]
                        }
                    },
					{
						extend: 'csv',
						text: 'CSV',
						fieldSeparator: ',',
						className: 'btn btn-sm btn-primary',
						filename: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        exportOptions: {
                            columns: [0,1,2,3,4,5]
                        }
					},
                    {
                        extend: 'excel',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
						filename: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        exportOptions: {
                            columns: [0,1,2,3,4,5]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
						filename: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        exportOptions: {
                            columns: [0,1,2,3,4,5]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Vista'+'_'+selectedVista+'_'+selectedData,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3,4,5]
                        }
                    }
				],
				
        }
    },
    ordering: {
        indicators: false,
        handler: false
    },
    // ordinamento decrescente sulla prima colonna
    order: [[0, 'desc']],
    pageLength : 5,
    lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, 'All']],
    responsive: true,
    columnDefs:[
        {
            // colonna Timestamp esecuzione
            targets: 0,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
            
        {
            // colonna UNIFIED_DELIVERY_DRIVER
            targets: 1,
            columnControl: ['order', ['search']],
            type:'int',
            "className": "dt-center",
            "defaultContent": " "
        },
        {
            // colonna GEOKEY
            targets: 2,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
        {
            // colonna PRODUCT_AR
            targets: 3,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
        {
            // colonna PRODUCT_890
            targets: 4,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
        {
            // colonna MONTHLY_ESTIMATE
            targets: 5,
            columnControl: ['order', ['search']],
            "className": "dt-center",
            "defaultContent": " "
        },
    ],
    bAutoWidth: false,

    });
</script>
{% endblock  %}

