.navbar-light {
    background-color: #0066cc !important;
    color: white !important;
}

.font-color-blue-pagopa{
    color: #0066cc !important;
}

.nav-link{
    color: white !important;
}

.zoom-in:hover {
    transform: scale(1.05);
}


.black-background {background-color: #e97509;}
.white {color:#ffffff;}


.btn-outline-dark { border-color: #e97509 !important; color: #e97509 !important;}

.btn-outline-dark:hover { border-color: #e97509 !important; background-color: #e97509 !important; color: #ffffff !important;}