.navbar-light {
    background-color: #0066cc !important;
    color: white !important;
}

.font-color-blue-pagopa{
    color: #0066cc !important;
}

.nav-link{
    color: white !important;
}

.zoom-in:hover {
    transform: scale(1.05);
}