{% extends "main.html" %}
{% block content %}
{% load static %}

<br>

<!-- DATATABLES: tabella_bozze -->
<table class="table table-fluid table-hover table-striped table-bordered" id="tabella_bozze" style="text-align:center;">
    <thead>
        <tr>
            <th style="text-align:center;">Data di scheduling</th>
            <th style="text-align:center;">Nome simulazione</th>
            <th style="text-align:center;">Utente</th>
            <th style="text-align:center;">Descrizione</th>
            <th style="text-align:center;">Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for singola_bozza in lista_bozze %}
            <tr>
                <td style="text-align:center;">{{singola_bozza.timestamp_scheduling}}</td>
                <td style="text-align:center;">{{singola_bozza.descrizione}}</td>
                <td style="text-align:center;">{{singola_bozza.utente}}</td>
                <td style="text-align:center;">{{singola_bozza.descrizione}}</td>
                <td>
                    <!-- Modifica scheduling --> 
                    <span>
                        <a type="button" title="Modifica scheduling" class="btn btn-outline-secondary" href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                    </span>

                    <!-- Elimina scheduling --> 
                    <span>
                        <a type="button" title="Elimina scheduling" class="btn btn-outline-danger" href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}


{% block scripts %}
<!-- script per la tabella datatables -->
<script>
    var fullDate = new Date();
	var currentDate = fullDate.getFullYear() + "_" + (fullDate.getMonth() + 1).toString().padStart(2, "0") + "_" + fullDate.getDate().toString().padStart(2, "0");
	new DataTable('#tabella_bozze', {
        // rimuoviamo il vecchio ordinamento per inserire il nuovo con columnControl 
        ordering: {
            indicators: false,
            handler: false
        },
        // ordinamento decrescente sulla prima colonna
        order: [[0, 'desc']],
        pageLength : 10,
		lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 'All']],
        responsive: true,
        columnDefs:[
            {
                targets: [0,1,2,3],
                columnControl: ['order', ['orderAsc', 'orderDesc', 'search']],
            },
            { // rimuoviamo ordinamento e filtri sull'ultima colonna
                targets: -1,        
                columnControl: []
            },
        ],
        bAutoWidth: false,
		layout: {
            topStart:'',
            // entries per page
            bottomStart: 'pageLength',
            // mostra quanti elementi vengono mostrati
            bottom2Start: 'info',
            // esportazione tabella
			bottom2End: 
				{
				buttons: [
                    {
                        extend: 'copy',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
					{
						extend: 'csv',
						text: 'CSV',
						fieldSeparator: ',',
						className: 'btn btn-sm btn-primary',
						filename: 'Simulazioni_'+currentDate,
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
					},
                    {
                        extend: 'excel',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
						filename: 'Simulazioni_'+currentDate,
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
						filename: 'Simulazioni_'+currentDate,
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    }
				],
			}
		},
	});
</script>
{% endblock %}