{% extends "main.html" %}
{% block content %}
{% load static %}

<h1 class="text-center font-color-blue-pagopa">LISTA SIMULAZIONI</h1>

<br><br>

<!-- Bottone nuova simulazione -->
<div>
    <a href="{% url 'nuova_simulazione' %}"><button type="button" class="btn btn-primary" title="nuova_simulazione"><b><i class="fa-solid fa-circle-plus"></i> Nuova simulazione</b></button></a>
</div>

<!-- DATATABLES: tabella_simulazioni -->
<table class="table table-fluid table-hover table-striped table-bordered" id="tabella_simulazioni" style="text-align:center;">
    <thead>
        <tr>
            <th style="text-align:center;">Timestamp esecuzione</th>
            <th style="text-align:center;">Stato</th>
            <th style="text-align:center;">Utente</th>
            <th style="text-align:center;">Nome simulazione</th>
            <th style="text-align:center;">Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for simulazione in lista_simulazioni %}
            <tr>
                <td style="text-align:center;">{{simulazione.timestamp_esecuzione}}</td>
                <td style="text-align:center;">{{simulazione.stato}}</td>
                <td style="text-align:center;">{{simulazione.utente}}</td>
                <td style="text-align:center;">{{simulazione.nome_simulazione}}</td>
                <td>
                    <!-- Dettaglio simulazione -->
                    <span>
                        <a type="button" title="Maggiori info" class="btn btn-outline-success" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </span>

                    <!-- Confronto con automatizzata --> 
                    <span>
                        <a type="button" title="Confronto con automatizzata" class="btn btn-outline-info" href="#"><i class="fa-solid fa-chart-area"></i><i class="fa-solid fa-chart-line"></i></a>
                    </span>

                    <!-- Confronto con altra simulazione --> 
                    <span>
                        <a type="button" title="Confronto con altra simulazione" class="btn btn-outline-primary" href="#"><i class="fa-solid fa-chart-area"></i><i class="fa-solid fa-chart-area"></i></a>
                    </span>

                    <!-- Nuova simulazione partendo dallo stesso input --> 
                    <span>
                        <a type="button" title="Nuova simulazione partendo dallo stesso input" class="btn btn-outline-warning" href="#"><i class="fa-solid fa-file-circle-plus"></i></a>
                    </span>

                    <!-- Visualizza risultati --> 
                    <span>
                        <a type="button" title="Visualizza risultati" class="btn btn-outline-dark" href="#"><i class="fa-solid fa-chart-area"></i></a>
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Legenda -->
<div align="center">
    <div class="card w-50">
        <div class="card-body">
            <b>Legenda</b>: &nbsp;&nbsp;&nbsp;<span style="color:#77dd77;">&#9632;</span> Lavorata&nbsp;&nbsp;&nbsp;<span style="color:#f4d980;">&#9632;</span> In lavorazione&nbsp;&nbsp;&nbsp;<span style="color:#9bb6cb;">&#9632;</span> Schedulata&nbsp;&nbsp;&nbsp;<span style="color:#dd492e;">&#9632;</span> Non completata</p>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<!-- script per la tabella datatables -->
<script>
    var fullDate = new Date();
	var currentDate = fullDate.getFullYear() + "_" + (fullDate.getMonth() + 1).toString().padStart(2, "0") + "_" + fullDate.getDate().toString().padStart(2, "0");
	new DataTable('#tabella_simulazioni', {
        // rimuoviamo il vecchio ordinamento per inserire il nuovo con columnControl 
        ordering: {
            indicators: false,
            handler: false
        },
        order: [[0, 'desc']],
        responsive: true,
		pageLength : 5,
		lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']],
        columnDefs:[
            {
                targets: [0,2,3],
                columnControl: ['order', ['orderAsc', 'orderDesc', 'search']],
            },
            {
                targets: 1,
                columnControl: ['order', ['orderAsc', 'orderDesc', 'searchList']],
            },
            { // rimuoviamo ordinamento e filtri sull'ultima colonna
                targets: -1,        
                columnControl: []
            },
            {
                targets: 1,
                "createdCell": function (td, cellData, rowData, row, col){
                    if (cellData == 'Lavorata' ) {
                        $(td).css('background-color', '#77dd77')
                    }
                    else if (cellData == 'In lavorazione' ){
                        $(td).css('background-color', '#f4d980')
                    }
                    else if (cellData == 'Schedulata' ){
                        $(td).css('background-color', '#9bb6cb')
                    }
                    else if (cellData == 'Non completata' ){
                        $(td).css('background-color', '#dd492e')
                    }
                }
            },
        ],
        bAutoWidth: false,
		layout: {
			bottom2End: 
				{
				buttons: [
                    {
                        extend: 'copy',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
					{
						extend: 'csv',
						text: 'CSV',
						fieldSeparator: ',',
						className: 'btn btn-sm btn-primary',
						filename: 'Simulazioni_'+currentDate,
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
					},
                    {
                        extend: 'excel',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
						filename: 'Simulazioni_'+currentDate,
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
						filename: 'Simulazioni_'+currentDate,
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Simulazioni_'+currentDate,
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    }
				],
			}
		},
	});
</script>
{% endblock %}