{% extends "main.html" %}
{% block content %}
{% load static %}

<h1 class="text-center font-color-blue-pagopa">LOGIN</h1>

<br><br>

<form action="" method=POST>
{% csrf_token %}

    <form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>		

    <input type="submit" value="Submit" class="btn btn-secondary">
    {% for message in messages %}
        <div class="alert alert-danger">{{message}}</div>
    {% endfor %}

    </form>
</form>



{% endblock content %}